/* titulo */
.info-container .logo .hover-show.active {
  animation: showspin 8s linear 2s infinite;
}

@keyframes showspin {
  to {
    transform: rotate(360deg);
  }
}
.poder {
  width: 130px; /* Ancho inicial de la imagen */
  height: 3rem; /* Altura inicial de la imagen */
  margin-top: -50px; /* Margen superior inicial de la imagen */
  position: absolute; /* Establecer posición absoluta */
  top: -20px; /* Posición vertical inicial absoluta */
  left: 10px; /* Posición horizontal inicial absoluta */

  @media (max-width: 768px) {
    width: 20px; /* Ancho reducido en dispositivos móviles */
    height: 40px; /* Altura reducida en dispositivos móviles */
    margin-top: -30px; /* Margen superior ajustado en dispositivos móviles */
    top: -10px; /* Posición vertical ajustada en dispositivos móviles */
    left: 5px; /* Posición horizontal ajustada en dispositivos móviles */
  }
}

.component-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.component-description {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: justify;
  margin-top: 10px;
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.component-description p {
  margin: 0;
  padding: 10px;
}
.gal-title {
  padding-bottom: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 238, 255, 0.87);
  margin-top: 12rem;
}
.gallery {
  margin-top: 2rem;
  padding-top: 300px;
  padding-bottom: 40px;
}

.gallery-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 238, 255, 0.87);
}

.gallery-images {
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 6rem;
}

.gallery-item {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.2);
}

.gallery-item:focus {
  transform: scale(1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.image-info {
  padding: 10px;
}

.image-title {
  font-size: 18px;
  margin-bottom: 60px;
}

.image-description {
  font-size: 14px;
  color: #3cc5fc;
}

@media (max-width: 520px) {
  .gallery-images {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .gallery-item {
    transition: transform 0.3s ease, width 0.3s ease; /* Añadido */
  }

  .gallery-item:hover {
    transform: scale(1.1);
    width: 90%; /* Añadido */
  }

  .gallery-item:focus {
    transform: scale(1);
    width: 100%; /* Añadido */
  }
}

.certificates {
  margin-top: 12rem;
  padding-top: 150px;
  padding-bottom: 440px;
  border-radius: 25px;
  background-color: transparent;
  padding: 20px;
  background: rgba(0, 0, 0, 0.486);
  border: 1px solid rgb(255, 255, 255);
}

.certificates-title {
  padding-top: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 238, 255, 0.87);
}

.certificate-images {
  padding-top: 120px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 6rem;
}

.certificate-images img {
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Media query para dispositivos con tamaño mayor a 768px */
@media (min-width: 768px) {
  .certificate-images img:hover {
    transform: scale(1.5); /* Aumenta el tamaño en un 50% */
  }
}

.title {
  text-align: center;
  margin: 25px 0;
  font-family: Ubuntu, "PT Sans", Verdana, sans-serif;
  letter-spacing: 2px;
  font-size: 2.5rem;
}

.title span {
  color: var(--color-pri-light);
}

@media (max-width: 520px) {
  .title h1 {
    font-size: 40px;
  }

  .title img {
    width: 250px;
  }
}

/* contenido */
.info-container {
  min-height: 70vh;
  position: relative;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  top: 180px;
}

.info-container .logo {
  order: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  user-select: none;
}
.info-container .logo:active {
  box-shadow: 7px 6px 28px 1px var(--color-pri-light);
  transform: translateY(4px);
}
.info-container .logo:hover {
  transform: translateY(4px);
}
.info-container .logo .hover-show {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 100;
  cursor: pointer;
}
.info-container .logo .hover-show.active {
  animation: showspin 8s linear 2s infinite;
}
@keyframes showspin {
  to {
    transform: rotate(360deg);
  }
}

.info-container .logo .hover-show .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: var(--color-pri);
  opacity: 0;
}
.info-container .logo .hover-show.active .circle {
  opacity: 1;
}
.info-container .logo .hover-show.active .circle:nth-child(1) {
  background: url();
  background-size: cover;
  background-position: center;
  position: absolute;
  transform: translateY(-210%);
}
.info-container .logo .hover-show.active .circle:nth-child(2) {
  position: absolute;
  transform: translateX(150%) translateY(-150%);

  background-size: cover;
  background-position: center;
}
.info-container .logo .hover-show.active .circle:nth-child(3) {
  position: absolute;
  transform: translateX(210%);

  background-size: cover;
  background-position: center;
}
.info-container .logo .hover-show.active .circle:nth-child(4) {
  position: absolute;
  transform: translateX(150%) translateY(150%);

  background-size: cover;
  background-position: center;
}
.info-container .logo .hover-show.active .circle:nth-child(5) {
  position: absolute;
  transform: translateY(210%);

  background-size: cover;
  background-position: center;
}
.info-container .logo .hover-show.active .circle:nth-child(6) {
  position: absolute;
  transform: translateX(-150%) translateY(150%);

  background-size: cover;
  background-position: center;
}
.info-container .logo .hover-show.active .circle:nth-child(7) {
  position: absolute;
  transform: translateX(-210%);

  background-size: cover;
  background-position: center;
}
.info-container .logo .hover-show.active .circle:nth-child(8) {
  position: absolute;
  transform: translateX(-150%) translateY(-150%);

  background-size: cover;
  background-position: center;
}
.info-container .logo .hover-show.active .circle:nth-child(9) {
  position: absolute;
  transform: translateX(-100%) translateY(-100%);
  background-size: cover;
  background-position: center;
}
.info-container img {
  position: absolute;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  
  transform: translate(-200px);
  animation: fade-in 1s ease 1 0.5s forwards;
  cursor: pointer;
  box-shadow: 8 9 10px rgb(255, 255, 255);
}
@keyframes fade-in {
  to {
    transform: translate(0);
    opacity: 1;
  }
}
.component-container {
  margin-top: 400px;
  border-radius: 25px;
  background-color: transparent;
  padding: 20px;
  background: rgba(0, 0, 0, 0.486);
  border: 1px solid rgb(255, 255, 255);
}

.component-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 238, 255, 0.87);
  padding-bottom: 35px;
}

.component-description {
  text-align: center;
  text-shadow: #fff;
  text-justify: inherit;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}

.image-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.small-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.image-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-text::after {
  content: attr(data-text);
}

.image-wrapper:hover .small-image {
  transform: scale(0.8);
}

.image-wrapper:hover .image-text {
  opacity: 1;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  .image-container {
    grid-template-columns: repeat(2, 1fr); /* Cambiado a 2 columnas */
  }
}

/*** ABOUT ***/
.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 10px;
  background: rgba(0, 0, 0, 0.493);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
}
@media screen and (max-width: 960px) {
  .contain {
    margin-top: 400px; /* Agregar margen superior en versiones móviles y tablets */
  }
}

.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: rgb(233, 227, 227);
  text-shadow: 0 2px 4px rgba(8, 8, 8, 0.6);
  margin-bottom: 100px;
}

.titl {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 2px 4px rgba(133, 133, 133, 0.87);
  font-family: "Arial", sans-serif;
  margin-bottom: 20px;
}

.tit {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: rgb(233, 227, 227);
  font-family: "Arial", sans-serif;
  margin-bottom: 10px;
}

.dim {
  margin-top: 20px;
  padding-top: 20px;
}

.contain .contain-title {
  position: relative;
  text-align: center;
  max-width: 100%;
  padding-bottom: 10px;
}

.contain .contain-title span {
  font-size: 25px;
  opacity: 0.8;
  padding-bottom: 1px;
  border-bottom: 2px solid white;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 4px rgba(36, 33, 33, 0.5);
}

.contain p {
  font-size: 18px;

  margin-top: 1px;
  font-family: sans-serif;
  color: #fff;
}

.contain span {
  font-weight: bold;
}

/*** SCROLL ***/
.scroll-down {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: -20px;
  gap: 10px;
  cursor: pointer;
  transform: rotate(90deg);
  transition: 0.1s linear all;
}
.scroll-down:hover {
  font-size: 15px;
}

.scroll-down hr {
  background-color: blue;
  width: 15px;
}
.scroll-down hr h5 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 100;
}
.scroll-down .scroll {
  transform: rotate(-90deg);
  font-size: 18px;
}

/* Media Query */
@media (max-width: 920px) {
  .info-container {
    overflow: hidden;
  }

  .info-container .logo {
    height: 330px;
    width: 330px;
  }

  .info-container .logo .hover-show {
    height: 220px;
    width: 220px;
    border-radius: 50%;
  }

  .info-container .logo .hover-show.active .circle {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }

  .info-container img {
    height: 210px;
    width: 210px;
  }

  .info-container h2 {
    max-width: 100%;
    margin-top: 80px;
  }

  .info-container h2 span {
    font-size: 25px;
    opacity: 0.8;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--color-pri);
    font-family: "Open Sans Condensed", sans-serif;
  }

  .info-container h2 p {
    font-size: 20px;
    font-weight: 100;
    font-family: "Open Sans", sans-serif;
  }

  .scroll-down {
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .info-container {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    min-height: 100vh;
    margin-top: 20px;
  }

  .info-container .logo {
    width: 180px;
  }

  .info-container .logo .hover-show {
    height: 180px;
    width: 180px;
    border-radius: 50%;
  }

  .info-container .logo .circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: var(--color-sec);
    opacity: 0;
  }

  .info-container img {
    height: 185px;
    width: 185px;
    border-radius: 50%;
  }

  .info-container h2 {
    max-width: 100%;
    margin-top: 70px;
  }

  .info-container h2 span {
    font-size: 22px;
    opacity: 0.8;
    padding-bottom: 5px;
  }

  .info-container h2 p {
    font-size: 18px;
    font-weight: 100;
  }

  .scroll-down {
    font-size: 12px;
  }
}

@media (max-width: 620px) {
  .info-container {
    min-height: 100vh;
  }

  .info-container .logo {
    width: 220px;
  }

  .info-container .logo .hover-show {
    height: 220px;
    width: 220px;
    border-radius: 50%;
  }

  .info-container .logo .hover-show.active .circle {
    position: absolute;
    height: 75px;
    width: 75px;
    border-radius: 50%;
  }

  .info-container img {
    position: absolute;
    height: 200px;
    width: 200px;
  }

  .info-container h2 {
    max-width: 100%;
  }

  .info-container h2 span {
    font-size: 22px;
    opacity: 0.8;
    padding-bottom: 5px;
  }

  .info-container h2 p {
    font-size: 15px;
    font-weight: 100;
  }
  .scroll-down {
    transform: rotate(90deg);
    position: absolute;
    right: -70px;
    top: 48%;
    font-size: 14px;
  }
}
